
#search{
   text-align:left;
   padding-left: 40px;
   background-image: url(icon.png);
   background-repeat: no-repeat;
   background-position: 10px center;
   position:absolute;
   margin-left:20%;
   width:300px;
   height:30px;
   border-radius:50px;
   border-color:#BDBDBD;
   box-shadow: none;

}
#signup{
float:right;
border:0;
outline:0;
color:gray;
background-color:white;
margin-right:20px;
font-weight: bold;
}

#login{
float:right;
border:0;
outline:0;
color:gray;
background-color:white;
margin-right:5px;
font-weight: bold;
}

#nav{
  list-style: none;
  height: 50px;
  width: 100%;
  padding-left: 10%;
  background-color:#BDBDBD;
}

#nav_item{
float:left;
position: relative;
display: inline;
width:25%;
line-height: 50px;
color:#585858;
font-size: small;
font-weight: bold;
}
#nav_item:hover > a{
  color:white;
}
#nav_item:hover  #in_nav{
  display: block;
}
#in_nav{
  list-style: none;
  position: absolute;
  left:0;
  top:50px;
  width:70%;
  background-color:#E4E4E4;
  display: none;

}
#in_nav_item {
  color:#585858;
  font-size: small;
  font-weight: lighter;
}
#in_nav_item:hover > a{

  color:white;
}

#main_left{
height:620px;
width:300px;
float:left;
margin-left:20%;
margin-right:5px;
margin-top:10px;
margin-bottom: 10px;
border: 1px solid #BDBDBD;
border-width: 2px;

}
#main_right_top{
  height:220px;
  width:600px;
  float:left;
  margin:10px 10px 5px 5px;
  border: 1px solid #BDBDBD;
  border-width: 2px;
}
#main_right_bottom{
  height:390px;
  width:600px;
  float:left;
  margin:5px 10px 10px 5px;
  border: 1px solid #BDBDBD;
  border-width: 2px;
}
#schedule{
  height:300px;
  width:282px;
  margin: 6px 6px 3px 6px;
  border: 1px solid #BDBDBD;
  border-width: 2px;
}
.tg  {width:250px;height:230px;margin-left:15px;border-collapse:collapse;border-color:#ccc;border-spacing:0;}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .saturday{border-color:inherit;color:#3531ff;font-weight: bold;font-family:Arial, Helvetica, sans-serif !important;;text-align:left;
  vertical-align:top}
.tg .weekday{border-color:inherit;color:#585858;font-weight: bold;font-family:Arial, Helvetica, sans-serif !important;;text-align:left;vertical-align:top}
.tg .sunday{border-color:inherit;color:#fe0000;font-weight:bold;font-family:Arial, Helvetica, sans-serif !important;;text-align:left;
  vertical-align:top}
.tg .day{border-color:inherit;text-align:left;vertical-align:top}

#schedule2{
  margin-left:15px;
  font-size: small;
}
#schedule3{

  margin-left:15px;
  font-size:x-small;
  color:#585858;
  font-weight: bold;
}
#small_title{
  color:#585858;
  font-size:small;
  font-weight:bold;
  margin-left: 15px;
}
#nav_item2{
  display:inline;
  border-left: 1px solid gray;
  padding:0px 10px 0px 10px;
  color:gray;
  font-size:x-small;
  font-weight: bold;
}
#line{
  margin-left: 40px;
  width:550px;
  color:gray;
}
#nav2{
  height:15px;
}
#main_post_item{
  color:gray;
  font-size: x-small;
  margin-top:2px;
}
a{
  text-decoration:none;
}
a:link{
  text-decoration: none;
  color:#585858
}
a:visited{
  text-decoration:none;
  color:#585858
}
#next{
  border:0;
  outline:0;
  background-color:white;
  float:left;
}
#main_algorithm,#main_camp,#main_career{
  float:left;
  width:600px;
  height:100px;
  text-align: center;
}
#site_box{
  float:left;
  height:40px;
  width:40px;
  padding: 15px 15px 15px 15px;
  border: 1px solid gray;
  border-radius:20px;
  font-size: x-small;
  font-weight: bold;
  color:#585858;
  margin-left:3px;
  margin-right:3px;
}
