#wrapper {
    width: 1000px;
    margin: 5px auto;
    display: flex;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  p {
    padding-left: 10px;
  }
  ul {
    padding-left: 35px;
    margin-bottom: 20px;
  }
  aside {
    border: 1px solid black;
    margin: 5px;
    height: 800px;
    width: 200px;
  }
  #article {
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    width: 790px;
  }
  .item {
    display: flex;
  }
  .review_search {
    display: flex;
    margin: 10px;
  }
  .info {
    margin: 10px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-top: 20px;
    padding: 10px;
  }
  .category_name {
    padding: 10px;
  }
  .search {
    padding: 10px;
  }
  .review_search {
    display: flex;
  }
  .review {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  
  .lecturename {
    margin: 10px;
    padding: 10px;
    height: 80px;
    border-bottom: 1px solid black;
  }
  .writer_info {
    display: inline;
    float: right;
  }
  .reviewdetail {
    margin: 10px;
    height: 300px;
    border-bottom: 1px solid black;
  }
  .star,
  .tags,
  .lecture_info,
  .pros,
  .cons {
    margin: 5px;
  }
  .go {
    float: right;
  }
  .comment {
    margin: 10px;
    height: 100px;
  }
  .comment_header,
  .comment_write,
  .comment_show {
    margin: 10px;
  }
  .comment_header {
    display: flex;
    justify-content: space-between;
  }
  